%h1 Listing breweries

%table
  %thead
    %tr
      %th Name
      %th Country
      %th
      %th

  %tbody
    - @breweries.each do |brewery|
      %tr
        %td= brewery.name
        %td= brewery.country
        %td= button_to 'Edit', edit_brewery_path(brewery), method: :get
        %td= button_to 'Destroy', brewery, method: :delete, data: { :confirm => 'Are you sure?' }

%br

= button_to 'New Brewery', new_brewery_path, method: :get
