%h1 drankt beers

%h3 Here's a random beer to try:

%ul.beers.random
  = render partial: "beer", locals: {beer: @random}
  = button_to "Yes, I liked it", {}, {class: 'accept'}
  = button_to "Hm, gimme something else", {}, {}
  = button_to "No, hated it", {}, {class: 'decline'}

%h3 Here's our other beers

%ul.beers
  = render @beers - [@random]
  = button_to 'New beer', new_beer_path, method: :get

