%h1 Listing beers

%p
  %b
    Here's a random beer to try:
%p
  = "#{@random.name} (#{@random.price} kr)" unless @random.nil?

%ul.beers
  - @beers.each do |beer|
    %li.beer
      = link_to beer do
        .text
          %h3= beer.name
          %p= beer.category
          %p= beer.price
          %p= "#{beer.volume / 10} cl"
          %p= "#{beer.alcohol_percentage}%"

= button_to 'New beer', new_beer_path, method: :get
