!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Drankt
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://use.typekit.net/wjb5wpp.js'
    :javascript
        try{Typekit.load({ async: true });}catch(e){}
    = csrf_meta_tags
  %body
    = yield
